.initial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9F8487;
}

.no-user-found {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #879F84;
    transition: background-color 0.8s;
}

.authenticated {
    animation: authenticate-animation 0.8s;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #9F8487;
}

@keyframes authenticate-animation {
    0% {
        background-color: #879F84;
        left: 0;
    }
    10% {
        background-color: #9F8487;
        left: 0;
    }
    100% {
        background-color: #9F8487;
        left: 100%;
    }
}

.password-block-no-user-found {
    position: fixed;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #849F99;
    display: grid;
    align-items: center;
}

.password-block-authenticated {
    position: fixed;
    top: 0%;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: #849F99;
    display: grid;
    align-items: center;
}

.password-header {
    color: #314D9E;
    font-size: calc(4px + 2vmin);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: grid;
}

.submit-button {
    padding-top: 50px;
    color: #0E7C64;
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    display: flex;
}

.text-input {
    width: 30%;
    border-bottom: 3px solid #314D9E73;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: auto;
    display: flex;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: #314D9EBA;
}

.form {
    padding-top: 30px;
}

.submit-warning {
    animation: submit-animation 0.3s;
    color: #314D9EBA;
    font-size: calc(6px + 1vmin);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: grid;
}

.submit-warning-hidden {
    color: #849F99;
    font-size: calc(6px + 1vmin);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: grid;
}

@keyframes submit-animation {
    0% {
        color: #849F99;
    }
    100% {
        color: #314D9EBA;
    }
}
  